@import "reset.css";
@import "modal.css";

/* used colors */
/* bright purple #8352ff */
/* dark purple #3200a8 */
/* black rgb(34, 34, 34) */
/* gray rgb(110, 110, 110) */

body{
    min-width: 360px;
    min-height: 300px;
    position: relative;
    font-family: 'Balsamiq Sans', 'Nanum Gothic', cursive;
    color: rgb(218, 218, 218);
}

.background{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-image: linear-gradient(to bottom right, #8352ff , #3200a8);
    font-weight: 600;
    font-size: 20px;
}

header > p{
    padding: 15px;
}

.section-wrap{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: rgb(34, 34, 34);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
}

.indeximg{
    width: 55%;
}

.section-search{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 25px 0;
    background-color: rgb(75, 75, 75);
    border-radius: 20px;
    width: 90%;
    height: 45px;
}

input{
    background: transparent;
    border:none;
    font-size: 20px;
    padding-left: 15px;
    width: 80%;
}

.search-button{
    background: transparent;
    cursor: pointer;
    border:none;
    margin-right: 15px;
    color: rgb(110, 110, 110);
}

.title{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #966dff;
}

.description{
    font-size: 18px;
    line-height: 1.1;
}

footer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 15px;
    background-color: rgb(61, 61, 61);
    color: grey;
    font-size: 13px;
}