@media screen and (min-width: 1000px){
    .modal-contents{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 15px;
    }
}

@media screen and (max-width: 500px){
    .imgWrap{
        width: 95px;
    }
    .book-subText{
        -webkit-line-clamp: 1;
    }
    .book-description{
        -webkit-line-clamp: 2;
    }
}

@media screen and (min-width: 500px){
    .imgWrap{
        width: 120px;
    }
    .book-subText{
        -webkit-line-clamp: 2;
    }
    .book-description{
        -webkit-line-clamp: 3;
    }
}

.modal-wrapper{
    display: none;
    position: absolute;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 70%;
    height: 80%;
    border-radius: 5px;
    z-index: 999;
    background-color: white;
    color: rgb(75, 75, 75);
}

.modal-wrapper::-webkit-scrollbar{
    display: none;
}

.modal{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    padding-bottom: 0;
    font-size: 20px;
    color: rgb(75, 75, 75);
}

.modal-button{
    margin-left: 10px;
    color: rgb(75, 75, 75);
}

.modal-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 3px dashed #8352ff;
}

.modal-loading, .modal-error{
    align-items: center;
    height: 70vh;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2;
    animation: fontcolor 3s infinite alternate;
}

.modal-loading{
    display: flex;
}

.modal-error{
    display:none;
}

.modal-contents-wrapper{
    display: none;
}

.modal-contents{
    margin: 20px;
}

.imgWrap{
    position: relative;
}

.imgCard{
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    color: black;
}

.book-thumbnail{
    width: 100%;
}

.search-book{
    display: flex;
    text-align: left;
    padding-bottom: 15px;
}

.book-text{
    margin: 7px 0 7px 10px;
}

.book-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 1.1;
}

.book-subText{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 13px;
    color: rgb(105, 105, 105);
    line-height: 1.2;
}

.author{
    padding-left: 2px;
    padding-right: 7px;
}

.publisher, .datetime{
    padding: 0 7px;
}

.publisher{
    border-left: 1.5px solid rgb(117, 117, 117);
    border-right: 1.5px solid rgb(117, 117, 117);
}

.price{
    display: inline-block;
    font-size: 15px;
    background-color: #3200a8;
    color: white;
    padding: 4px;
    border-radius: 3px;
    margin: 6px 0;
}

.book-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: keep-all;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.3;
    
}

@keyframes fontcolor{
    0%{
        color: rgb(75, 75, 75);
    }
    50%{
        color: #8352ff;
    }
    100%{
        color: #3200a8;
    }
}